<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="connection" value="Endpoint=sb://prabhash.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=97dDfz8d+lXRNg/VVIS9wbFey4iik8Kf91OsJr7gBSg="></add>
		<add key="queue" value="prabhashq1"/>
		<add key="batchSize" value="20"/>
		<add key="Timeout" value="100"/>
	</appSettings>
</configuration>